body {
    font-family: Arial, sans-serif;
    margin: 20ox;
    text-align: center;
}
.riskCard {
    padding: 25px;
    margin: 10px;
    border: 1px;
    color: black;
    display: inline-block;
    width: 300px;
    text-align: left;
}

.low-risk {
    background-color: green;
}

.medium-risk {
    background-color: yellow
}

.high-risk {
    background-color: red
}


